/**
 * Styles for application
 */

.custom-file-uplaod{
    margin-bottom:0;
    height: 34px;
    width: 60%;
    margin-right: 15px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius:0;
    display: inline-block;
    min-width: 170px;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
button a{
    color:#fff;
}